.table-day td {
  height: 2rem;
  text-align: left;
  margin: 0;
  width: 90%;
  position: relative;
}

.table-day td h4 {
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-left: 0.2rem;
}

.table-day tr td:first-child {
  width: 10%;
}

.table-day {
  width: 100%;
  border-spacing: 0.15rem
}

.table-day {
  width: 100%;
}

.table-day .event {
  margin: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  border: 0.08rem solid black;
}

.table-day .event h4 {
  margin: 0;
  font-size: 0.8rem;
}

.table-day .events-skeleton {
  position: absolute;
  width: 89.4%;
  height: 96.9%;
  top: 2.9rem;
  left: 7.2rem;
}

.table-day .events-skeleton table {
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.table-day .events-skeleton td {
  border: none;
  background-color: transparent;
  height: 15px;
}

.table-day .events-skeleton tbody td {
  text-align: center;
}
