.input-form {
  position: absolute;
  background-color: #000000ed;
  height: auto;
  max-width: 70%;
  margin: 5% 15%;
  border-radius: 10px;
  padding-bottom: 1rem;
}

.input-form label {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.5rem 5%;
}

.input-form input {
  width: 87%;
}

.react-datepicker__month-container, .react-datepicker__header,
.react-datepicker__time-container, .react-datepicker__time {
  background-color: #ffffff!important;
}

button.react-datepicker__navigation--next {
  border-left-color: #a1df70;
}

button.react-datepicker__navigation--previous {
  border-right-color: #a1df70;
}

button.react-datepicker__navigation--next:hover {
  border-left-color: #4da00b;
}

button.react-datepicker__navigation--previous:hover {
  border-right-color: #4da00b;
}

.react-datepicker__day--selected, .react-datepicker__time-list-item--selected {
  background-color: #a1df70!important;
}

.react-datepicker__time-list-item {
  height: 3rem!important;
}

.link {
  background-color: #a1df70;
  border-radius: 0.4rem;
  border: none;
  transition: color .15s ease-in-out,background-color
    .15s ease-in-out,border-color
    .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-form h1 {
  color: white;
  margin: 1rem auto;
}

.react-datepicker__input-container input {
  width: 87%;
  height: 2.7rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding-left: 1rem;
}

.input-form textarea {
  width: 94%;
}

.react-datepicker-wrapper {
  width: inherit;
}

.react-datepicker__input-container {
  width: inherit;
}

.close-button {
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  font-size: 2rem;
  color: white;
  transition: color 0.3s;
}

.close-button:hover {
  color: red;
  transition: color 0.3s;
  cursor: pointer;
}
