.event {
  height: 1.3rem;
  z-index: 1;
  background-color: #ff8201bf;
  border-radius: 7px;
  margin: 0.2rem 0;
  text-align: center;
  left: 0.2rem;
  box-shadow: 4px 4px 5px #00000061;
  user-select: none;
}

.event h4, .event i {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #272830;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.delete-button {
  position: absolute;
  left: 0.8rem;
  top: 0.2rem;
  font-size: 1rem;
  color: white;
  transition: color 0.3s;
}

.delete-button:hover {
  color: red;
  transition: color 0.3s;
  cursor: pointer;
}

.table-month .resizer {
  position: absolute;
  right: -17px;
  width: 59px;
  height: 100%;
  top: 0;
  cursor: e-resize;
  background: #0000ff6b;
  z-index: 200;
}

.table-month:active .resizer:hover {
  height: 312px;
  width: 480px;
  top: -431%;
  z-index: 201;
  right: -162px;
}

/* .table-month .dragger {
  position: absolute;
  right: 0;
  width: 82%;
  height: 100%;
  top: 0;
  cursor: grab;
  background: #0000ff6b;
  z-index: 199;
} */

.event:hover {
  cursor: grab;
}

.event:active {
  position: absolute;
  top: 0;
  z-index: 200;
  right: 0;
  cursor: grabbing;
}
