.btn-group {
  margin-top: 0.3rem;
}

.btn-group button {
  color: black;
  background-color: white;
  width: 3rem;
  height: 2.7rem;
}

.btn:hover {
  background-color: #a0e070;
}

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #black;
  background-color: #a0e070;
  border-color: transparent;
}

i {
  pointer-events: none;
}
