.App {
  text-align: center;
  padding-bottom: 10rem;
  font-family: 'Montserrat';
  padding-top: 18px;
}

main {
  position: relative;
  width: 100%;
}

header h1 {
  color: white;
}

.main-table {
  margin: auto;
  width: 100%;
}

table {
  border-collapse: separate;
}

h4 {
  font-size: 1rem;
}

.row {
  margin: auto;
}

td, th {
  user-select: none;
  border-radius: 5px;
}

td {
  width: 12rem;;
}

th {
  color: white;
}

.curDay {
  background-color: #9cff30b8;
}

h2 {
  color: white;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.2);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #aeffb0;;
}

.add-event-button {
  width: 7rem;
  height: 2.7rem;
  margin-top: 0.3rem;
  border: none;
  outline: none;
  color: black;
}

/* STYLES */

div.style1 {
  background-image: linear-gradient(to bottom right, rgb(217, 137, 0), rgb(225, 247, 38));
}

.style1 td {
  color: white;
}

.style1 .table-row td {
  background-image: linear-gradient(to bottom right, black, rgb(82, 82, 82));
  box-shadow: 10px 10px 12px #986200;
}

.style1 .event {
  background-color: #ff8d00;
  color: black;
}

.style1 .add-event-button {
  background-color: #181818;
  color: white;
}

.style1 select.form-control {
  background-color: #181818;
  color: white;
  border: none;
}

div.style2 {
  background-image: linear-gradient(to bottom right, rgb(46, 64, 210), rgb(91, 217, 255));
}

.style2 .table-row td {
  background-image: linear-gradient(to bottom right, rgb(239, 253, 192), rgb(185, 233, 255));
  box-shadow: 10px 10px 12px #00636d;
}

.style2 .event {
  background-color: #4eb2f3;
  color: white;
}

.style2 .add-event-button {
  background-color: #d9f6da;
  color: black;
}

.style2 select.form-control {
  background-color: #d9f6da;
}
